.ProductImageCol{
    text-align: center;
}
.ChartRow{
    text-align: center;
    padding : 0;
}
.ProductImage{
    width: 25vh;
    height: 25vh;
    margin: 2vh;
    padding-left: 3vh;
}
.foodTable{
    font-size: 1.3vh;
    text-align: center;
}
.foodChartTitle{
    font-size: 2.5vh
}