@font-face {
    font-family: 'Cafe24Oneprettynight';
    font-style: normal;
    src: url("../util/Cafe24Oneprettynight.ttf") format('truetype');
}
#signUpForm {
    font-family: 'Cafe24Oneprettynight';
    font-size: 2vh;
    align-content: center;
    alignment: center;
    vertical-align: center;
}

.signUpTitleArea {
    margin-bottom: 3vh;
    text-align: center;
}

#signUpTitle {
    font-family: Cafe24Oneprettynight;
    font-size: 5vh;
    color: #a6d149;
}

.signUpText {
    margin-right: 0px;
    padding-right: 0px;
}

#id {
    max-width: 40vh;
    margin-top: 1vh;
}

#checkDup {
    font-size: 1vh;
    font-weight: bold;
    letter-spacing: 0.1vh;
    margin-top: 0.3vh;
    background-color: #a6d149;
    color: white;
    border: 1px solid #a6d149;
}

.idInputCol {
    padding-right: 0px;
}

#idInput {
    max-width: 40vh;
    margin-right: 0px;
}

.passwordInput {
    margin-top: 1vh;
}

#passwordInput {
    max-width: 40vh;
}

.checkPassword {
    margin-top: 1vh;
}

#checkPassword {
    max-width: 40vh;
}

.inputName {
    margin-top: 1vh;
}

#inputName {
    max-width: 40vh;
}

.inputEmail {
    margin-top: 1vh;
}

#inputEmail {
    max-width: 40vh;
}

.inputSex {
    margin-top: 1vh;
}

.inputBirthDay {
    margin-top: 0.5vh;
}

#inputBirthDay {
    max-width: 40vh;
}

.saveInfo {
    margin-top: 1vh;
}


.signUpButton {
    margin-top: 2vh;
    padding-right: 0vh;
    padding-left: 0.5vh;
    letter-spacing: 0.5vh;
    background-color: #a6d149;
    border: 1px solid #a6d149;
    border-radius: 25px;
    width: 200px;
    font-size: 2vh;
}
