body {
    background-color:  #fffde5;
    font-family: 'NanumPen', cursive;
}
@font-face{
    font-family:NanumPen;
    src:url('Cafe24Oneprettynight.ttf');
}
hr{
    color : #a6d149;
    border :1px solid ;
    margin: 0;
}

.rankingLogo{
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: 8vw;
    color: #a6d149;
}
.rankingImage{
    width : 8vw;
}
.rankingKind{
    text-align: center;
}
.resultRanking{
    border: 0px;
    background-color :#fffde5;
    font-family: 'NanumPen', cursive;
    font-size: calc(2vw + 3px);
    color : #a6d149;
}

.reviewRanking{
    border: 0px;
    background-color :#fffde5;
    font-family: 'NanumPen', cursive;
    font-size: calc(2vw + 3px);
    color : #a6d149;
}

.sexRanking{
    border: 0px;
    background-color :#fffde5;
    font-family: 'NanumPen', cursive;
    font-size: calc(2vw + 3px);
    color : #a6d149;
}

.ageRanking{
    border: 0px;
    background-color :#fffde5;
    font-family: 'NanumPen', cursive;
    font-size: calc(2vw + 3px);
    color : #a6d149;
}

.kind{
    margin : 2vw;
    width : calc(30vw + 30px);
    background-color :#fffde5;
    font-family: 'NanumPen', cursive;
    font-size: calc(2vw + 10px);
    color : #a6d149;
    border-bottom: 1px solid #a6d149;
}

.nowRanking{
    width : 5vw;
}

.logoImage{
    width : 3vw;
}
