.rankingButton {
    border-color: #a6d149;
    background-color: #a6d149;
    color: white;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
}

.rankingToggleMenu {
    margin-right: 4vh;
}

.rankingToggle {
    width: 300px;
    color: #8b8b8b;
    border-color: #a6d149;
    text-align: left;
    background-color: #fffde5;
}

.rankingMenu {
    width: 300px;
    color: #8b8b8b;
}

@media (max-width:1600px) {
    .rankingToggleMenu {
        display: none;
    }
}