#signUpForm {
    padding-top: 270px;
    padding-left: 600px;
    padding-right: 600px;
    color: #8b8b8b;
    font-weight: bold;
    font-size: 20px;
    font-family: Cafe24Oneprettynight;
}

#checkDup {
    border: 1px solid #a6d149;
    border-radius: 25px;
    padding: 8px 17px 8px 20px;
    background-color: #a6d149;
    font-family: Cafe24Oneprettynight;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

FormGroup {
    vertical-align: center;
    text-align: center;
    border: 1px solid #a6d149;
}

.allergyArea {
    width: 800px;
}

.diseaseArea {
    width: 800px;
}

.signUpButtonArea {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 38%
}

.signUpButton {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border-color: #a6d149;
    background-color: #a6d149;
    color: white;
    font-family: Cafe24Oneprettynight;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 5px;
}