
.topBar {
     width: 100%;
     display: inline-flex;
     padding-top: 1vh;
 }

#title {
    position: relative;
    font-family: 'Cafe24Oneprettynight';
    font-size: 4vw;
    max-width: 40vw;
    min-width: 18vw;
    max-height: 2vw;
    min-height: 50px;
    color: #a6d149;
    padding-top: 1%;
}

#logoImg {
    width: 100%;
    padding: 30% 10% 0% 20%;
    vertical-align: center;
    max-width: 10vw;
    max-height: 10vh;
    min-width: 6vw;
    min-height: 6vw;
    height: auto;
}

#categoryImg {
    width: 100%;
    vertical-align: center;
    max-width: 10vw;
    max-height: 10vh;
    min-width: 5vw;
    min-height: 5vw;
    padding : 42% 5% 0% 25%;
}

#searchTextInput {
    height: 100%;
    font-size: 1vw;
    max-width: 80vw;
    min-width: 30vw;
    max-height: 25vw;
    min-height: 3vw;
    height: auto;
    border: solid 1px rgba(166, 209, 73, 0.75);
    background-color: rgba(166, 209, 255, 0);
    font-family: 'Cafe24Oneprettynight';
    text-indent: 5px;
}

#searchArea {
    padding-top: 2vw;
}

#searchButton {
    max-width: 10vw;
    min-width: 4vw;
    max-height: 10vw;
    min-height: 4vw;
    height: auto;
    border: solid 1px rgba(166, 209, 73, 0.75);
    background-color: rgba(166, 209, 255, 0);
    outline: none;
    padding: 3px 4px 4px 4px ;
}

#searchButtonArea {
    width: 100%;
    padding-top: 2vw;
    padding-left: 1.5vw;
}

#rankingToggle {
    padding-top: 20px;
    padding-left: 21rem;
}

.loginButton {
    position: absolute;
    height: 50px;
    width: 200px;
    background-color: #a6d149;
    border-color: #a6d149;
    color: white;
    font-weight: bold;
    font-family: 'Cafe24Oneprettynight';
    letter-spacing: 10px;
    padding-left: 25px;
    font-size: 28px;
    border-radius: 20px;
}

#loginButtonArea {
    padding-left: 2rem;
    padding-top: 15px;
}

#myPageButtonArea {
    width: 80px;
    height: 80px;
    align-items: center;
    padding-right: 50px;
    padding-left: 14rem;
    padding-top: 5px;
}

#myPageButton {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 4px #a6d149;
}


