.ProductPageHeadTitle{
    margin:2vh;
}
.ProductPageHeadImg{
    width: 4vh;
    height: 4vh;
    margin: 1vh;
}
.ProductPageHeadButton{
    font-size: 2vh;
    background-color: #a6d149;
    border: 0;
    border-radius: 25px;
    color: white;
    margin-top: 1vh;
}