.productList {
    margin: 0px;
    width : 85vw;
    height: 20vw;
    font-family: 'Cafe24Oneprettynight', cursive;
}
.productList td {
    border: solid 1px rgba(166, 209, 73, 0.75);
    padding: 0;
    margin : 0;
}

.indexAndButtons{
    width: 8%;
    padding: 0;
    margin : 0;
    font-size: 45px;
}

.indexAndButtonsContainer{
    width: 8%;
    font-size : 3vw;
    margin: 0;
    padding: 0;
}


.index {
    text-align: right;
}

.foodPictureAreaCol{
    width : 25%;
    height: 100%;
    padding : 0px;
    margin : 0px;
}

.foodInfoAreaCol {
    width : 66%;
}
.heartAndThumbImages {
    width: 3vw;
    margin : 0;
    padding: 0;
}


