.productList {
    margin: 0;
    padding : 0;
    width : 60vh;
    height: 15vh;
    font-family: 'Cafe24Oneprettynight', cursive;
}

.productList td {
    border: solid 1px rgba(166, 209, 73, 0.75);
    padding: 0;
    margin : 0;
}

.indexAndButtons{
    width: 8%;
    padding: 0;
    margin : 0;
    font-size: 2vh;
    border-top-color: #61dafb;
}
.heartAndThumbImages {
    width: 4vh;
    margin : 0;
    padding: 0;
}
.indexAndButtonsContainer{
    width: 4vh;
    font-size : 2vh;
    margin: 0;
    padding: 0;
}


.index {
    text-align: right;
}

.foodPictureAreaCol{
    width : 5vh;
    height: 5vh;
    padding : 0;
    margin : 0;
}

.foodInfoAreaCol {
    width : 15vh;
    padding : 0;
    margin : 0;
}



