body {
    background-color:  #fffde5;
    font-family: 'NanumPen', cursive;
}
@font-face{
    font-family:NanumPen;
    src:url('Cafe24Oneprettynight.ttf');
}
.main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25%;
    text-align: center;
    min-width: 700px;
}
.Filtering {
    margin-left: 0%;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border: solid 3px rgba(166, 209, 73, 0.75);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-collapse: collapse;
    font-size: 30px;
}
td, th {
    border: solid 1px rgba(166, 209, 73, 0.75);
    background-color: rgba(255, 255, 255, 0);
}
th{
    height :40px;
}

td{
    font-size :20px
}
.allergyFiltering{
    font-size : 20px;
}
.diseaseFiltering{
    font-size : 20px;
}
.allergyCheck{
    margin-left: 15px;
}

.diseaseCheck{
    margin-left: 15px;
}
