.ProductPageNutrientframe1{
    margin: 0;
}
.ProductPageNutrientColTag{
    text-align: center;
}
.ProductPageNutrientImg{
    width: 20vh;
    height: 20vh;
}
#ProductPageNutrientTable{
    text-align: center;
    margin: auto;
    font-size: 2.5vh;
    
}
caption{
    caption-side: top;
    text-align: center;
}